.setting {
	float: right;
	width: 50px;
}

button {
	float: right;
	width: 58px;
}

label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 370px;
	height: 30px;
}
