.CircularProgressbar {
	width: 50%;
	height: 80%;
	position:fixed !important;
	top: 10%;
	bottom: 10%;
	left: 25%;

}

.CircularProgressbar .CircularProgressbar-path {
	stroke: #42B8FC;
	stroke-linecap: butt;
	transition: stroke-dashoffset 1s linear 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
	stroke: #fff;
}

.CircularProgressbar .CircularProgressbar-text {
	fill: #42B8FC;
	font-size: 20px;
	font-family: monospace;
	dominant-baseline: middle;
	text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
	fill: #d6d6d6;
}

.Work { 
	stroke: #ff9100;
	fill: #ff9100;
}

.Break {
	stroke: #00b0ff;
	fill: #00b0ff;
}
